.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}
.logo {
  display: block;
  width: 180px;
  height: 16px;
  background-image: url("../images/wikimedium_logo.svg");
}
.about {
  font-size: 14px;
  line-height: 50px;
  color: rgba(255, 0, 0, 0.2);
  transition: all .1s ease;
}
.about:hover {
  color: rgba(255, 0, 0, 0.4);
}
body.posts .menubar,
body.landing .menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 760px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
